* {
    margin: 0;
    padding: 0;
}

.faq {
    display: flex;
    justify-content: center;
}

.section-faq {
    position: relative;
    display: flex;
}

.faq .faq-text {
    display: flex;
    flex-direction: column;
}

.faq .faq-text-wrapper {
    display: flex;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: black;
    font-size: 24px;
}

.faq .faq-p {
    display: flex;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: black;
    font-size: 14px;
}

.faq .faq-group {
    display: flex;
    position: relative;
    margin-left: 150px;
}

.faq .faq-wrapper-2 {
    border: 1px solid #D4D4D4;
    width: 668px;
    padding: 15px;
    display: inline-flex;
    justify-content: space-between;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: black;
    background-color: transparent;
    font-size: 15px;
}

.faq .faq-item {
    width: 668px;
    border: 1px solid #D4D4D4;
}

@media (max-width:576px) {
    .faq {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .faq .section-faq {
        display: flex;
        flex-direction: column;
    }

    .faq .faq-text-wrapper {
        margin: auto;
        font-size: 28px !important;
    }

    .faq .faq-group {
        margin-left: 0px;
    }

    .faq .faq-p {
        font-size: 16px;
        width: 350px;
        text-align: center;
        margin: auto;
    }
    
    .faq .faq-wrapper-2 {
        width: 470px;
        font-size: 15px;
        position: relative;
        left: 5px;
    }

    .faq .faq-item {
        width: 470px;
        font-size: 15px;
    }
}