* {
    margin: 0;
    padding: 0;
}

.hero {
    background-color: #f1f3ff;
    display: flex;
    align-items: center;
    height: 450px;
}

.hero-text {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
}

.hero-text-2 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
}

.hero-btn {
    padding: 8px 12px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: white;
    background-color: #5cb85f;
    font-size: 14px;
    border-radius: 3px;
    border: none;
}

.hero-btn:hover {
    color: black;
    transform: scale(1.1);
}

.hero-car {
    height: 407px;
    width: 704px;
}

@media (max-width:576px) {
    .hero {
        height: 650px;
    }
    
    .hero-car {
        height: 100%;
        margin-top: 30px;
        width: 100%;
    }
}