* {
    margin: 0;
    padding: 0;
}

.WhyUs {
    padding: 10px;
    margin: auto;
    width: 1168px;
}

.WhyUs .text {
    font-weight: 700;
}

.WhyUs .paragraf {
    margin-top: 20px;
    font-weight: 700;
}

.WhyUs .content {
    display: flex;
}


.WhyUs .wrapper {
    font-size: 15px;
    margin-top: 20px;
    padding: 24px 24px 0px 24px;
    border-radius: 8px;
    border: 1px solid #D0D0D0;
    width: 268px;
    margin-right: 30px;
}

.bi-award,
.bi-hand-thumbs-up,
.bi-clock,
.bi-tag {
    font-size: 15px;
    padding: 5px 8px 5px 8px;
    color: white;
    border-radius: 100%;
}

@media (max-width: 576px) {

    .WhyUs .text {
        margin-left: 175px;
        margin-bottom: 30px;
    }

    .WhyUs .paragraf {
        margin: auto 85px;
    }

    .WhyUs .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .WhyUs .wrapper {
        width: 458px;
    }
}