* {
    margin: 0;
    padding: 0;
}

.services {
    position: relative;
    width: 1027px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.image-service {
    display: flex;
    position: relative;
}

.services .frame {
    flex-direction: column; 
    display: inline-flex;
    gap: 16px;
    margin-top: 40px;
}

.services .text-services {
    position: relative;
    width: 468px;
    margin-top: -1px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
}

.services .sewa {
    position: relative;
    width: 468px;
    margin-top: -15px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
}

.services .frame-2 {
    flex-direction: column;
    display: inline-flex;
    gap: 16px;
}

.services .frame-3 {
    display: flex;
    gap: 16px;
    position: relative;
    margin-top: -15px;
}

.services .icons {
    position: relative;
    width: 20px;
    height: 20px;
    background-color: #cfd4ed;
    border-radius: 100%;
    font-size: 20px;
    color: #0D28A6;
    display: flex;
    font-weight: 700;
}

.services .p {
    position: relative;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
}

@media (max-width: 576px) {
    .services {
        width: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image-service {
        width: 350px;
        margin: auto;
        position: relative;
        right: 25px;
    }
    
    .text-services {
        font-size: 25px !important;
        width: 350px !important;
        position: relative;
        left: 15px;
    }

    .sewa {
        width: 350px !important;
        position: relative;
        left: 15px;
        font-size: 15px !important;
        margin-bottom: 25px;
        line-height: 23px;
    }

    .services .p {
        width: 350px;
        font-size: 20px;
        position: relative;
        left: 15px;
    }

    .services .icons {
        position: relative;
        top: 15px;
        left: 15px;
    }
}
