* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: #f1f3ff;
}

.navbar .navbar-toggler,
.navbar .navbar-toggler-icon {
    font-size: 15px;
    padding: 5px;
    border: none;
}

.navbar-header {
    display: flex;
    background-color: #f1f3ff;
    justify-content: space-between !important;
    width: 1190px !important;
    margin: auto;
}

.logo {
    background-color: #0d28a6;
    width: 100px;
    height: 34px;
}

.nav-link {
    display: flex;
    justify-content: space-between;
    padding-right: 40px !important;
}

.nav-link a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 0px 30px 10px 0px;
}