* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.testimonial {
    position: relative;
    bottom: 100px;
}

.p1 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    margin-top: 110px;
    margin-bottom: 15px;
    text-align: center; 
}

.p2 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}
.list-testi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testi {
    width: 619px;
    height: 270px;
    background-color: #f1f3ff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.testi .img {
    width: 80px;
    height: 80px;
    position: relative;
    left: 40px;
}

.testi .text {
    position: relative;
    right: 30px;
    gap: 8px;
}

.testi .text-wrapper {
    width: 415px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: start;
}

.testi .div {
    width: 415px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
}

.testi .icons {
    color: #f9cc00;
    font-size: 16px;
    align-self: center;
}

@media (max-width:576px) {
    .testi {
    position: relative;
    width: 450px;
    height: 500px;
    flex-direction: column;
    }

    .testi .text-wrapper {
        width: 350px;
        font-size: 20px;
        line-height: 25px;
    }

    .testi .text {
        position: relative;
        left: -0px;
        margin: auto;
    }

    .testi .icons { 
        position: relative;
        left: 135px;
        bottom: 10px;
    }
    
    .testi .div {
        width: 150px;
        font-size: 15px;
    }

    .testi .img {
        top: 40px;
        position: relative;
        left: -0px;
    }
}