* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.testimonial {
    position: relative;
    bottom: 100px;
    overflow: hidden;
}

.testi-p1 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 24px;
    margin-top: 110px;
    margin-bottom: 15px;
    text-align: center; 
}

.testi-p2 {
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    text-align: center;
    margin-bottom: 40px;
}

.testi-wrap {
    display: flex;
    gap: 20px;
    justify-content: center;
    transition: transform 0.8s ease-in-out;
    position: relative;
    left: 220px;
}

.list-testi {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.testi-card {
    width: 619px;
    height: 270px;
    background-color: #f1f3ff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.testi-card .testi-img {
    width: 80px;
    height: 80px;
    position: relative;
    left: 50px;
}

.testi-card .testi-text {
    position: relative;
    right: 30px;
    gap: 8px;
}

.testi-card .testi-desc {
    width: 415px;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: start;
}

.testi-card .testi-div {
    width: 415px;
    font-family: "Arial-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
}

.testi-card .testi-star {
    color: #f9cc00;
    font-size: 16px;
    align-self: center;
}

.testimonial .testi-carousel {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.testimonial .testi-icon {
    border: 1px solid black;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.testimonial .testi-icon:active {
    background-color: rgba(92, 184, 95, 1);
    color: white;
    border: 1px solid rgba(92, 184, 95, 1);
    border-radius: 100%;
}

@media (max-width:576px) {
    .testi-wrap {
        transition: transform 0.4s ease-in-out;
        position: relative;
        justify-content: center;
    }

    .testimonial .testi-card {
        width: 328px;
        height: 392px;
    }

    .testimonial .testi-desc {
        width: 230px;
    }

    .testimonial .testi-text {
        position: relative;
        right: 60px;
        top: 60px;
    }

    .testimonial .testi-star { 
        position: relative;
        left: 90px;
        bottom: 10px;
    }
    
    .testimonial .testi-div {
        width: 150px;
        font-size: 15px;
    }

    .testimonial .testi-img {
        position: relative;
        bottom: 120px;
        left: 130px;
    }

}